.places {
	max-width: 984px;
	margin: 0 auto 92px;

	display: flex;
	flex-direction: column;
	gap: 80px;
	padding: 0;
}

@media (max-width: 1024px) {
	.places {
		margin: 0 48px 92px;
	}
}

@media (max-width: 770px) {
	.places {
		margin: 0 24px 88px;
		gap: 72px;
	}
}

@media (max-width: 400px) {
	.places {
		margin: 0 0 64px;
		gap: 50px;
	}
}