.place__row {
	display: grid;
	column-gap: 40px;
	grid-template: 1fr / repeat(auto-fit, minmax(320px, 1fr));
}

@media (max-width: 1024px) {
	.place__row {
		column-gap: 32px;
	}
}

@media (max-width: 770px) {
	.place__row {
		column-gap: 28px;
	}
}